.result {
  margin-top: 10px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(236, 49, 49);
  background-color: whitesmoke;
  padding: 5px;
}
.result > h3 {
  color: rgb(71, 69, 69);
  font-size: medium;
  font-weight: 600;
}
